@charset "UTF-8";
/* CSS Document */

/* CSS that applies to both boards*/
.board{
	float:left;
	width: 50%;
	text-align:center;
	padding: 20px;
	
}

/* CSS around the Instagram Board*/
.picst{
	width: 100%;
	
}

/* CSS around the Weather Board*/
#wcontainer {
    width: 100px;
    height: 100px;
    position: relative;
	alignment-adjust:central;
	
}

.weathert{
	background-size:contain;
	width: 100%;
	position: absolute;
	
	
}


/* used to create the same table size for both boards. Weather just has hidden images, there may be another way to do this*/
.shadow{
	visibility:hidden;
}

/* used to place the weather conditions div infront of the background image table*/
#ccontainer {
	width: 100%;
	position: absolute;
	z-index: 10;
	top: 0%;
    left: 0%;
	font-size:large;
	
}

#tempnow{
	width: 100%;
	
}

#condsnow {
	width: 100%;
	
}

